.DS_Store
.vsconfig

/Library
/Temp
/obj
/SignLanguageForNumbers
/AmericanSignLanguage
/Hagrid
/HANDS
/Build
/Logs


/.idea
/.vs
/.vscode

/*.csproj
/*.sln
/*.zip
/*.pyc

/GestureRecognition/Datasets/

