.DS_Store
.vsconfig

/Library
/Temp
/obj
/SignLanguageForNumbers
/AmericanSignLanguage
/Hagrid
/HANDS
/HANDSv2
/Build
/Logs
/Training


/.idea
/.vs
/.vscode

/*.csproj
/*.sln
/*.zip
/*.pyc
/*.log
/GestureRecognition/Datasets/

