h5py==2.10.0
imutils==0.5.3
json5==0.9.5
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab-server==1.2.0
matplotlib==3.3.0
numpy==1.18.5
opencv-python==4.3.0.36
pandas==1.1.1
pickleshare==0.7.5
Pillow==7.2.0
progressbar==2.5
scikit-learn==0.23.1
scipy==1.4.1
simplejson==3.13.2
sklearn==0.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
torch==1.7.1
torch-summary==1.4.5
torchsummary==1.5.1
torchvision==0.8.2
tqdm==4.50.0

